@page "/ipo"

<h1>IPO</h1>

<p>Input a number to double.</p>

<input @bind="InputString " />

<button class="btn btn-primary" @onclick="DoProcessing">Do it</button>

<p>Output: @OutputString </p>

@code

{

    private string InputString { get; set; }
    private string OutputString { get; set; }

    //function to get a number and double it
    private void DoProcessing()
    {
        double num = double.Parse(InputString); //converts string into double, allowing math to be performed on it
        num = num * 2;  //math
        OutputString = num.ToString();  //output the result
    }

}